########################
# NODE
########################

node_modules
npm-debug.log
**/logs/**
.nyc_output/**

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**
localfile.js

########################
# docs / tests
########################
doc
report.xml

########################
# local config
########################
.jenkins.conf